<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.xing.Address">
        <property name="address" value="nantong"/>
    </bean>

    <bean id="student" class="com.xing.Student">
        <!--1.普通值注入，value-->
        <property name="name" value="xingkong"/>
        <!--2.bean注入,ref-->
        <property name="address" ref="address"/>
        <!--3.数组注入-->
        <property name="books">
            <array>
                <value>hongloumeng</value>
                <value>xiyouji</value>
            </array>
        </property>
        <!--4.list注入-->
        <property name="hobbys">
            <list>
                <value>jump</value>
                <value>song</value>
            </list>
        </property>
        <!--5.map注入-->
        <property name="card">
            <map>
                <entry key="idCard" value="1232132"></entry>
                <entry key="bankCard" value="342432432"></entry>
            </map>
        </property>
        <!--6.set注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>SSJJ</value>
            </set>
        </property>
        <!--7.null-->
        <property name="wife">
            <null></null>
        </property>
        <!--8.properties-->
        <property name="info">
            <props>
                <prop key="stuNo">202161</prop>
                <prop key="stuName">jialin</prop>
            </props>
        </property>
    </bean>

</beans>